[submodule "external/gtests"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/array"]
	path = external/array
	url = git@github.com:veryhardtryer/oop_lab_array.git
